<div class="container">
    <div class="jumbotron">
        <h1>Eat-Da-Burgers!!!</h1>
    

    <panel>
        <form class="create-form">
            <div class="form-group">
                <label for="newburger"></label>
                <input type="text" id="newburger" name="burger">
                <button type="submit" class="btn btn-success" id="addburger">
                    <span class="fa fa-thumbs-up"></span>
                </button>
            </div>  
        </form>
    </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside">Order Your Burger</div>
            </div>
        </div>
    </div>





{{!-- end of container class --}}
</div>
